.main-heading {
    display: flex;
    justify-content: center;
}
.inputs {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-right: 20px;
}

.submitButton  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.floor {
    background-color: #D3D3D3;
    width: 96%;
    height: 100px;
    display: flex;
    flex-direction: row;
    border: 3px solid #A9A9A9; 
    box-sizing: border-box; 
    position: relative;
    flex-wrap: nowrap;
}

.lifts-container{
    width: 96%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    flex-wrap: nowrap;
    padding: 4px;
} 

.lift {
    width: 60px;
    display: flex;
    color: FFFFFF;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
  }
  
  .liftLeftDoor,
  .liftRightDoor {
    background-color: #778899;
    width: 30px;
    height: 96px;
    position: absolute;
    top: 0;
    transition: width 2.5s;
  }
  
  .liftLeftDoor {    
    border-right: 5px solid black;
    /* left: 0; */
  }
  
  .liftRightDoor {
    border-left: 5px solid black;
    right: 0;
  }

  #floors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    align-items: center;
  }
  
  .floors-border {
    margin-top: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid black;
  }

  .floorDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
    min-width: 50px;
  }

  .floorButtons {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    justify-content: center;
    justify-items: center;
  }